@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500);
 
/* body {
  padding: 60px 0;
  background-color: rgba(178,209,229,0.7);
  margin: 0 auto;
  width: 600px;
}
.body-text {
  padding: 0 20px 30px 20px;
  font-family: "Roboto";
  font-size: 1em;
  color: #333;
  text-align: center;
  line-height: 1.2em;
}
.form-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-wrapper {
  background-color: #6FB7E9;
  width: 100%;
  display: flex;
 
}
.personal-information {
  background-color: #3C8DC5;
  color: #fff;
  padding: 1px 0;
  text-align: center;
}
h1 {
  font-size: 1.3em;
  font-family: "Roboto"
}
input {
  margin: 1px 0;
  padding-left: 3%;
  font-size: 14px;
}
input[type="text"]{
  display: block;
  height: 50px;
  width: 97%;
  border: none;
}
input[type="email"]{
  display: block;
  height: 50px;
  width: 97%;
  border: none;
}
input[type="submit"]{
  display: block;
  height: 60px;
  width: 100%;
  border: none;
  background-color: #3C8DC5;
  color: #fff;
  margin-top: 2px;
  curson: pointer;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
input[type="submit"]:hover{
  background-color: #6FB7E9;
  transition: 0.3s ease;
}
#column-left {
  width: 46.8%;
  float: left;
  margin-bottom: 2px;
}
#column-right {
  width: 46.8%;
  float: right;
}
 
@media only screen and (max-width: 480px){
  body {
    width: 100%;
    margin: 0 auto;
  }
  .form-container {
    margin: 0 2%;
  }
  input {
    font-size: 1em;
  }
  #input-button {
    width: 100%;
  }
  #input-field {
    width: 96.5%;
  }
  h1 {
    font-size: 1.2em;
  }
  input {
    margin: 2px 0;
  }
  input[type="submit"]{
    height: 50px;
  }
  #column-left {
    width: 96.5%;
    display: block;
    float: none;
  }
  #column-right {
    width: 96.5%;
    display: block;
    float: none;
  }
} */
.pay_form {
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
}
.pay_form form input{
  display: block;
}
.fund_input{
  padding: 8px 12px;
  border: 1px solid #636175;
  outline: none;
  width: 100%;
  margin: 8px 0px;
}
.btn.pay_btn{
  padding: 10px 20px;
  font-weight: 600;
  background-color: #191935;
  color: #fff;
  outline: none !important;
}
.btn.pay_btn:hover{
  color: #bbb;
}
.separator .tp-bg{
  background-color: #fff;
}
.pwp{
  color: #191935;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 0px;
  border: 2px solid #191935;
}
.pwp img{
  vertical-align: text-bottom;
}
.btn-primary.pay_btn_custom{
  font-weight: bold;
  font-size: 20px;
  padding: 20px ;
}
.heading-2.heading-2-sm{
  font-size: 22px;
}