.cup-icon {
    width: 26px;
    height: 26px;
    background-position: -4px -200px;

}

.game-listing li a {
    color: #fff;
    padding: 0 24px 0 0px;
    font-size: 18px;
    line-height: 1.5;
}
.game-listing li a img {
    padding: 0px 15px;
    margin: 0 0px 0 0;
}

.yellow-text {
    color: #f9c501;
}

.full-width-image img {
    width: 100%;
}

.share-btn {
    font-size: 18px;
    color: #00dfff;
    border: 1px solid #00dfff;
    background: transparent;
    padding: 10px 10px 13px !important;
    line-height: 25px;
}