body {
    line-height: 1;
    position: relative;
    background-color: #fff;
    height: 100%;
    font-family: "latoregular";
}

html {
    height: 100%;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
p {
    margin: 0px;
}

*,
a:focus,
img:focus {
    outline: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #404040;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

label {
    font-weight: normal;
}

figure {
    margin: 0px;
    padding: 0px;
}

img {
    border: 0;
}

::selection {
    background: #00dfff;
    color: #fff;
}

::-moz-selection {
    background: #00dfff;
    color: #fff;
}

::-webkit-selection {
    background: #00dfff;
    color: #fff;
}

.inner-container {
    max-width: 1200px;
    width: 100%;
    padding: 0px 15px;
    margin: 0px auto;
}

.inner-container-sm {
    max-width: 1030px;
    width: 100%;
    padding: 0px 15px;
    margin: 0px auto;
}

.inner-container-xs {
    max-width: 710px;
    width: 100%;
    padding: 0px 15px;
    margin: 0px auto;
}

.full-container {
    padding-left: 40px;
    padding-right: 40px;
}

/* -- fonts -- */
@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat-bold-webfont.woff') format('woff'),
        url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
        url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratmedium';
    src: url('../fonts/montserrat-medium-webfont.eot');
    src: url('../fonts/montserrat-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat-medium-webfont.woff') format('woff'),
        url('../fonts/montserrat-medium-webfont.ttf') format('truetype'),
        url('../fonts/montserrat-medium-webfont.svg#montserratmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.eot');
    src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato-bold-webfont.woff') format('woff'),
        url('../fonts/lato-bold-webfont.ttf') format('truetype'),
        url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoblack';
    src: url('../fonts/lato-black-webfont.eot');
    src: url('../fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato-black-webfont.woff') format('woff'),
        url('../fonts/lato-black-webfont.ttf') format('truetype'),
        url('../fonts/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato-regular-webfont.woff') format('woff'),
        url('../fonts/lato-regular-webfont.ttf') format('truetype'),
        url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* -- fonts -- */
.nav-link,
.border-btn,
.btn-yellow-lg, .typo7 strong, .tg, .list-tags li {
    font-family: 'montserratbold';
}

.typo1,
.typo2,
.typo3,
.typo4,
.links-listing li,
.custom-tabs .heading-4,
.grad-bg,
.separator span,
.typo5,
.custom-input-lg,
.user-name,
.typo6, .input-blue, .typo7, .list-tags, .heading-8, .badge-top, .typo8 {
    font-family: 'montserratmedium';
}

.border-btn2,
.custom-accordion .accordion-button,
.border-btm,
.border-btn-ylow,
.heading-6,
.heading-7,
.pro-count,
.heading-5,
.list-with-icons li, .btn-yellow-fill, .btn-yellow-border, .title-1, .custom-table th {
    font-family: 'latobold';
}

.heading-1,
.button-yellow,
.heading-3,
.heading-2,
.section-title, .add-text, .border-white, .bg-rounded {
    font-family: 'latoblack';
}

.arrow-btn {
    font-family: 'latoregular';
}

.social-icon,
.category-share, .icon-userAdd, .icon-like, .icon-comment, .icon-reply, .icon-category, .icon-game, .icon-users, .icon-tour, .icon-inbox, .share-yellow, .chat-blue, .discord-blue, .fb-colored, .tw-colored, .insta-colored, .ld-colored, .icon-rank, .icon-chat, .icon-gift, .icon-verified, .follow-dBlue {
    background: url('../img/sprite.png') no-repeat;
    display: inline-block;
    vertical-align: top;
    text-indent: -9999px;
}

/* -- header css -- */
.header-top {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 2;
}

.header {
    background: rgba(2, 133, 225, 0.35);
}

.header:before,
.header:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 42%;
    height: 2px;
    background: #00dfff;
    opacity: 0.80;
}
.border-full{
    background: rgba(18, 132, 221, 0.8);
}
.border-full:before, .border-full:after{
    width: 50%;
}
.header:before {
    left: 0px;
}

.header:after {
    right: 0;
}

.nav-link {
    color: #f5f5f5;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    position: relative;
}

.nav-link::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 55px;
    width: 100%;
    height: 3px;
    background: #ffc600;
    opacity: 0;
    z-index: 1;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active {
    color: #ffc600;
}

.nav-link:hover::before {
    opacity: 1;
}

.nav-link.active::before {
    opacity: 1;
}

.logo-area {
    position: absolute;
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.top-logo{
    max-width: 150px;
    height: auto;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 25px;
    padding-right: 25px;
}

.nav-left .nav-item {
    margin-right: 25px;
}

.nav-right .nav-item {
    margin-left: 25px;
}

.border-btn {
    border: 2px solid #00dfff;
    color: #f5f5f5;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 8px 20px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: block;
}

.border-btn:hover {
    border-color: #ffc600;
    color: #ffc600;
}

.border-btn2 {
    border: 2px solid #ffc600;
    color: #f5f5f5;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 15px 35px 17px;
}

.border-btn2.border-md {
    font-size: 16px;
}

.border-btn2.border-sm {
    font-size: 18px;
    padding: 12px 30px 14px;
}

.border-btn2:hover {
    color: #ffc600;
}

.border-btn-ylow {
    border: 1px solid #ffc600;
    color: #ffc600;
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px 20px 10px;
    background-color: transparent;
}

.border-btn-ylow.active, .border-btn-ylow.blue.active {
    background-color: #ffc600;
    color: #000;
    border-color:#ffc600;
}
.border-btn-ylow.blue{border-color:#00dfff; color:#00dfff;}

.btn-yellow-lg {
    border: none;
    background: #fdc500;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 25px 20px;
    box-shadow: 0px -5px 15px rgba(253, 197, 0, 0.1), 0px -4px 7.5px rgba(164, 221, 48, 0.35) inset;
    -moz-box-shadow: 0px -5px 15px rgba(253, 197, 0, 0.1), 0px -4px 7.5px rgba(164, 221, 48, 0.35) inset;
    -webkit-box-shadow: 0px -5px 15px rgba(253, 197, 0, 0.1), 0px -4px 7.5px rgba(164, 221, 48, 0.35) inset;
}

.btn-yellow-lg:hover {
    background: #00dfff;
    color: #fff;
}

.custom-dropdown.dropdown-menu {
    margin-top: 13px;
    overflow: hidden;
}

.custom-dropdown {
    padding: 0px;
}

.custom-dropdown .dropdown-item {
    padding: 1rem 1rem;
}

.custom-dropdown .dropdown-item:hover {
    background: #00dfff;
    color: #fff;
}

.custom-dropdown .dropdown-item:not(last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* -- header css end -- */
/* -- banner css -- */
.banner-outer {
    padding: 120px 0 50px;
}

.banner-bg {
    background: url('../img/banner-background.jpg') no-repeat center top;
    background-size: cover;
}

.banner-faq {
    background: url('../img/banner-faq.jpg') no-repeat center top;
    background-size: cover;
}

.banner-about {
    background: url('../img/about-banner.jpg') no-repeat center top;
    background-size: cover;
}
.banner-product {
    background: url('../img/product-bg.jpg') no-repeat center top;
    background-size: cover;
}
.banner-profile {
    background: url('../img/profile-bg.jpg') no-repeat center top;
    background-size: cover;
}
.banner-wallet {
    background: url('../img/wallet-bg.jpg') no-repeat center top;
    background-size: cover;
}
/* -- banner css end -- */
.typo1 {
    font-size: 18px;
    color: #fff;
    line-height: 1.8;
}

.typo1.md {
    font-size: 20px;
}

.typo2 {
    font-size: 18px;
    color: #636176;
    line-height: 1.7;
}

.typo3 {
    font-size: 18px;
    color: #a5a4b7;
    line-height: 1.7;
    letter-spacing: 1px;
}

.typo3.md {
    font-size: 16px;
}

.typo4 {
    font-size: 16px;
    color: #fff;
    line-height: 1;
    letter-spacing: 1px;
}

.typo5 {
    font-size: 16px;
    color: #798fa8;
    line-height: 1;
}

.typo6 {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
    line-height: 1;
}
.typo6.md{font-size: 15px;}
.typo7 {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
    line-height: 1;
} 
.typo7 strong{font-weight: normal;}
.typo8{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.4);
    line-height: 1;
}
.custom-row {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    position: relative;
}

.custom-col {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.logos-row {
    background: url('../img/logos-bg.png') no-repeat center top;
    background-size: cover;
}

.logos-list li {
    padding: 0px 15px;
}

.bg-color1 {
    background: url('../img/how-it-work-bg.png') no-repeat left bottom #1f1f3b;
}

.bg-color4 {
    background: url('../img/how-it-work-bg.png') no-repeat left 230px #171733;
    position: relative;
    z-index: 1;
}

.bg-color4:after {
    content: '';
    position: absolute;
    width: 432px;
    height: 498px;
    right: 0;
    bottom: 0;
    background: url('../img/bg-art3.png') no-repeat;
    z-index: -1;
}

.bg-full {
    background: url('../img/bg-art2.png') no-repeat left top;
    background-color: #171733;
    background-size: cover;
}

.bg-full.color2 {
    background-color: #191935;
    background-position-y: 150px;
}

.ellipse3,
.ellipse2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.ellipse3 {
    -webkit-line-clamp: 3;
}

.ellipse2 {
    -webkit-line-clamp: 2;
}

.heading-1 {
    font-size: 46px;
    color: #fff;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.heading-1.md {
    font-size: 36px;
}

.heading-2 {
    font-size: 30px;
    color: #00dfff;
    line-height: 1;
    text-transform: capitalize;
}
.heading-2.lg{font-size: 40px;}
.heading-2.sm{font-size: 20px;}

.heading-3 {
    font-size: 20px;
    color: #f9f3ea;
    line-height: 1;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.heading-3.md {
    font-size: 22px;
}

.heading-2 span {
    color: #ffc600;
}

.heading-4 {
    font-size: 18px;
    color: #fff;
    margin: 0px;
}

.heading-4.md {
    font-size: 16px;
}

.heading-6,
.section-title {
    font-size: 30px;
    color: #fff;
    margin: 0px;
}

.heading-7 {
    font-size: 10vw;
    color: #fff;
    line-height: 1;
}
.heading-8{font-size: 18px; color:#fff; line-height: 1.3;}
.theme-color {
    color: #00dfff;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-right: 35px;
}

.theme-color::after {
    content: '';
    background: url('../img/heading-flower.png') no-repeat;
    position: absolute;
    right: 0;
    top: -15px;
    width: 42px;
    height: 42px;
}

.theme-color.md {
    padding-right: 25px;
}

.theme-color.md::after {
    width: 32px;
    height: 32px;
    background-size: cover;
}

.custom-slider .carousel-control-next,
.custom-slider .carousel-control-prev {
    width: 35px;
    height: 35px;
    border: 3px solid #636175;
    top: 50%;
    margin-top: -15px;
    border-radius: 50%;
}

.custom-slider .carousel-control-prev {
    left: -50px;
}

.custom-slider .carousel-control-next {
    right: -50px;
}

.custom-slider .carousel-control-next:hover,
.custom-slider .carousel-control-prev:hover {
    opacity: 1;
    border-color: #fff;
}

.custom-slider .carousel-control-next:hover .next-icon,
.custom-slider .carousel-control-prev:hover .prev-icon {
    border-color: #fff;
}

.prev-icon,
.next-icon {
    width: 12px;
    height: 12px;
    border-left: 3px solid #636175;
    border-top: 3px solid #636175;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;

}

.prev-icon {
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 6px;
}

.next-icon {
    transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-right: 5px;
}

.arrow-btn {
    font-size: 18px;
    color: #fff;
    position: relative;
    padding-right: 40px;
}

.arrow-btn:hover {
    color: #ffc600;
}

.arrow-btn:after {
    content: '';
    background: url('../img/more-arrow.png') no-repeat;
    width: 27px;
    height: 15px;
    position: absolute;
    right: 0px;
    top: 5px;
}

.common-space {
    padding: 90px 0px;
}

.common-space-sm {
    padding: 30px 0px;
}

.common-space-md {
    padding: 60px 0px;
}

.bg-color2 {
    background: #191935;
}

.bg-color3 {
    background: #1f1f3b;
}

.border-shadow {
    border: 5px solid rgba(2, 133, 225, 0.1);
    box-shadow: 0px 0 30px rgba(2, 133, 225, 0.1);
}

.cpr-3 {
    padding-right: 20px;
}

.cpl-3 {
    padding-left: 20px;
}

.bg-image2 {
    background: url('../img/feature-sec-bg.png') no-repeat #1f1f3b;
    background-size: cover;
}

.bg-image3 {
    background: url('../img/subscrip-bg.png') no-repeat;
    background-size: cover;
}

.input-transparent {
    background-color: rgba(23, 23, 51, 0.3);
    border-color: #636175;
    border-radius: 0;
    height: 65px;
    padding-left: 30px;
    padding-right: 30px;
    color: #636176;
    font-size: 18px;
}
.input-transparent.md{
    height: 50px;
}
.input-transparent:focus {
    background-color: rgba(23, 23, 51, 0.3);
    color: #fff;
}

.button-yellow {
    background: #ffc600;
    color: #fff;
    font-size: 18px;
    border-radius: 0;
    border-color: #ffc600;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
    height: 65px;
}

.button-yellow-border {
    background: transparent;
    color: #ffc600;
}

.button-yellow:hover {
    background: #00dfff;
    border-color: #00dfff;
}

.button-yellow-border:hover {
    background: transparent;
    color: #00dfff;
}

.links-listing {
    margin: 0px;
    padding: 0px;
}

.links-listing li {
    margin: 15px 0px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.links-listing li a {
    font-size: 18px;
    color: #a5a4b7;
    letter-spacing: 2px;
    line-height: 1;
    list-style: none;
}

.links-listing li a:hover {
    color: #00dfff;
}

.social-listing {
    margin: 0px;
    padding: 10px 0 0;
}

.social-listing li {
    margin: 0px 5px;
}

.social-icon.fb {
    width: 14px;
    height: 26px;
    background-position: -2px -3px;
}

.social-icon.twitter {
    width: 26px;
    height: 23px;
    background-position: -27px -3px;
}

.social-icon.insta {
    width: 26px;
    height: 27px;
    background-position: -62px -3px;
}

.social-icon.youtube {
    width: 26px;
    height: 20px;
    background-position: -98px -3px;
}

.social-icon.soc {
    width: 25px;
    height: 22px;
    background-position: -134px -2px;
}

.social-icon.twitch {
    width: 25px;
    height: 26px;
    background-position: -169px -2px;
}
.social-icon.ldin {
    width: 27px;
    height: 27px;
    background-position: -150px -164px;
}

.custom-accordion .accordion-item {
    background: #1f1f3b;
    border: 0;
    margin: 15px 0px;
}

.custom-accordion .accordion-button {
    color: #a6a5b7;
    background: #1f1f3b;
    padding: 20px;
    font-size: 21px;
}

.custom-accordion .accordion-button:focus {
    border: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.custom-accordion .accordion-button:not(.collapsed) {
    color: #0285dd;
    background: #1f1f3b;
}

.custom-accordion .accordion-button:after {
    width: 13px;
    height: 13px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    background-image: none !important;
    transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-top: 5px;
}

.custom-accordion .accordion-button:not(.collapsed)::after {
    transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-top: 0px;
}

.custom-tabs {
    border: none;
    position: relative;
    z-index: 2;
}

.custom-tabs .nav-btn {
    background: #171733;
    padding: 25px;
    height: 100%;
    border: 1px solid #171733;
}

.custom-tabs .nav-btn.active {
    border-color: #ffc500;
}

.tab-icon {
    height: 54px;
}

.custom-tabs .nav-item {
    min-width: 20%;
    padding: 10px;
}

.color-box {
    background: #1f1f3b;
    padding: 45px;
}

.c-my-5 {
    margin: 50px 0;
}

.grad-bg {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    color: #f1f1f1;
    box-shadow: 0px -8px 8px rgba(0, 101, 255, 0.05), rgba(255, 255, 255, 0.1) 0px 1px 2px inset;
    -moz-box-shadow: 0px -8px 8px rgba(0, 101, 255, 0.05), rgba(255, 255, 255, 0.1) 0px 1px 2px inset;
    -webkit-box-shadow: 0px -8px 8px rgba(0, 101, 255, 0.05), rgba(255, 255, 255, 0.1) 0px 1px 2px inset;
    background: #21213f;
    background: -moz-linear-gradient(top, #21213f 0%, #131326 100%);
    background: -webkit-linear-gradient(top, #21213f 0%, #131326 100%);
    background: linear-gradient(to bottom, #21213f 0%, #131326 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#21213f', endColorstr='#131326', GradientType=0);

}

.grad-bg:hover {
    color: #fff;
    background: -moz-linear-gradient(top, #131326 0%, #21213f 100%);
    background: -webkit-linear-gradient(top, #131326 0%, #21213f 100%);
    background: linear-gradient(to bottom, #131326 0%, #21213f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#131326', endColorstr='#21213f', GradientType=0);
}

.left-logo {
    width: 118px;
    min-width: 118px;
    height: 80px;
    margin-right: 30px;
    padding: 10px;
}

.img-fluid-xy {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.black {
    background: #000;
}

.s-blue {
    background: #125484;
}

.white {
    background: #fff;
}

.t-purple {
    background: #926ef7;
}

.l-blue {
    background: #0163c5;
}

.green {
    background: #107810;
}

.f-bg {
    background: #37559b;
}

.tweet-bg {
    background: #03a9f4;
}

.separator {
    border-top: 1px solid #313539;
    position: relative;
    padding: 10px 0px;
}

.separator span {
    background: #1f1f3b;
    position: absolute;
    left: 50%;
    top: -13px;
    padding: 5px 15px;
    margin-left: -20px;
    font-size: 15px;
    color: #798fa8;
    text-transform: uppercase;
}

.custom-input-lg {
    background: #18182d;
    padding: 27px 90px 27px 20px;
    color: #454a55;
    border: none;
    box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.3) 0px 0px 14px inset;
    -moz-box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.3) 0px 0px 14px inset;
    -webkit-box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.3) 0px 0px 14px inset;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.custom-input-lg:focus {
    background: #18182d;
    color: #fff;
}

.ab-icon {
    position: absolute;
    right: 0px;
    top: 10px;
    border-left: 1px solid #313539;
    width: 85px;
    height: 50px;
}

.icon-user {
    background: url('../img/icon-user.png') no-repeat center;
    width: 38px;
    height: 38px;

}

.icon-lock {
    background: url('../img/icon-padlock.png') no-repeat top;
    width: 30px;
    height: 40px;
}

.icon-email {
    background: url('../img/icon-email.png') no-repeat top;
    width: 41px;
    height: 29px;
}

.icon-user,
.icon-lock,
.icon-email {
    display: inline-block;
    vertical-align: top;
    background-size: contain;
}

.custom-checkbox .check-input {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0;
    z-index: 1;
}

.custom-checkbox .check-label {
    font-size: 16px;
    color: #798fa8;
    padding-left: 30px;
    line-height: 1.1;
}

.custom-checkbox .check-label::before,
.custom-checkbox .check-label::after {
    content: '';
    position: absolute;
}

.custom-checkbox .check-label::before {
    width: 20px;
    height: 20px;
    border: 2px solid #3b3f47;
    left: 0px;
    top: -1px;
}

.custom-checkbox .check-label::after {
    width: 9px;
    height: 6px;
    border-left: 2px solid #00dfff;
    border-bottom: 2px solid #00dfff;
    left: 5px;
    top: 4px;
    display: none;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.custom-checkbox input:checked~.check-label::before {
    border-color: #00dfff;
}

.custom-checkbox input:checked~.check-label::after {
    border-color: #00dfff;
    display: block;
}

.icon-round {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    margin-top: 3px;
}

.icon-round.user {
    background: url('../img/user-rounded.png') no-repeat center;
}

.icon-round.date {
    background: url('../img/date-rounded.png') no-repeat center;
}

.icon-share {
    background: url('../img/share.png') no-repeat center;
    width: 17px;
    height: 18px;
}

.border-btm {
    border-bottom: 1px dashed #636176;
    color: #636176;
    font-size: 14px;
}

.border-btm.solid {
    border-style: solid;
}

.tab-card {
    padding: 20px;
}

.text-small {
    font-size: 14px;
    color: #636176;
}

.anchor-ylw {
    color: #ffc600;
    text-decoration: underline;
    font-weight: bold;
}

.anchor-ylw:hover {
    color: #00dfff;
}

.remote-sec {
    background: url("/frontend/assets/img/remote-bg.png") no-repeat top right #1f1f3b;
}

.rotated-img-inner {
    width: 300px;
    height: 300px;
    overflow: hidden;
    transform: rotate(45deg);
    border-radius: 15px;
    margin: 70px;
    position: relative;
}

.auto-img {
    transform: rotate(-45deg);
}

.picture-list-sm .rotated-img-inner {
    width: 208px;
    height: 208px;
    margin: 50px;
}

.rotated-img-inner::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 197, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
}

.picture-list-sm .rotated-img-inner::after {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 197, 0, 1) 0%, rgba(200, 74, 36, 1) 100%);
}

.rotated-img-col:hover ::after {
    opacity: 0.6;
}

.pic-detail {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg) scale(0);
    transition: all 0.3s linear 0s;
    z-index: 1;
    opacity: 0;

}

.rotated-img-col:hover .pic-detail {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(-45deg) scale(1);
}

.picture-list-sm .heading-6 {
    font-size: 25px;
}

.picture-list-sm~.picture-list-sm {
    margin-top: -140px;
}

.full-Vheight {
    min-height: 100vh;
}

/* tabs */
.figure-content {
    width: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: width .25s linear, opacity .2s linear;
    transition: width .25s linear, opacity .3s linear;
    position: relative;
    display: none;
    float: left;
}

div:last-child .figure-content {
    margin-right: 0;
}

div>input:checked~.figure-content {
    width: 350px;
    height: auto;
    opacity: 1;
    display: inline-block;
}

.figure-tab {
    padding: 10px;
}

.figure-tab img {
    border: 3px solid #165173;
    box-shadow: 0 0 10px rgba(22, 81, 115, 0.8);
}

label.error {
    display: inline-block;
    vertical-align: top;
    color: #dc3545;
    font-size: 14px;
    padding-top: 7px;
    width: 100%;
}

.order-group .form-control {
    order: 1;
}

.order-group .button-yellow {
    order: 2;
}

.order-group label {
    order: 3;
}

/* merged */
.bg-full.bg-full-2 {
    background-color: #1f1f3b;
}

.typo2.md {
    font-size: 16px;
}

.heading-2.heading-2-white {
    color: #fff;
    line-height: 1.5;
    text-transform: none;
}

.heading-2 .theme-color-2 {
    color: #00dfff;
}

.bg-color5 {
    background-color: #171733;
}
.bg-color6 {
    background-color: #101126;
}


.tech-container {
    position: relative;
}

.vr-player {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 45%;
}

textarea.textarea-h {
    padding: 15px 30px;
    height: 100px;
}

.user-name {
    width: 30px;
    height: 30px;
    background: #00dfff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #134477;
    font-size: 15px;
    text-transform: uppercase;
}

.no-arrow .dropdown-toggle::after {
    display: none;
}

.border-yellow {
    border: 1px solid #ffc500;
}

.img-minH {
    min-height: 80px;
}

.min-card {
    min-height: 276px;
}

.full-h {
    min-height: calc(100vh - 76px);
}

.min-w {
    min-width: 150px;
}

.product-img {
    position: relative;
}

.figure-tag {
    position: absolute;
    left: 15px;
    bottom: 15px;
    background: rgba(58, 185, 192, 0.7);
    color: #161733;
    font-size: 15px;
    padding: 7px 10px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    min-width: 80px;
    text-align: center;

}

.pro-count {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    background: #ffc600;
    color: #161733;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 14px 0;
    text-align: center;
}

.detail-bg {
    background: #1f1f3b;
    padding: 15px 20px;
}

.heading-5 {
    color: #a5a3b8;
    font-size: 18px;
}

.pagination {
    border: 2px solid #3f3f63;
}

.pagination .page-item {
    position: relative;
}

.pagination .page-link {
    color: #616276;
    font-size: 18px;
    padding: 10px 16px 13px;
    border: none;
    background: transparent;
}

.pagination .page-link:hover,
.pagination .page-link:focus {
    color: #fff;
    outline: none;
    box-shadow: none;
}

.page-prev,
.page-next {
    display: inline-block;
    vertical-align: top;
    width: 12px;
    height: 12px;
    border-top: 2px solid #a5a3b8;
    border-right: 2px solid #a5a3b8;
    margin-top: 3px;
}

.page-prev {
    transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.page-next {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.border-pre::after,
.border-next::after {
    content: '';
    position: absolute;
    top: 7px;
    bottom: 7px;
    width: 2px;
    background: #3f3f63;
}

.border-pre::after {
    right: 0px;
}

.border-next::after {
    left: 0px;
}

.pagination .page-item:first-child .page-link {
    border-radius: 0;
}

.pagination .page-item.disabled .page-link {
    background: transparent;
    opacity: 0.5;
}

.pagination .page-item:hover .page-prev,
.pagination .page-item:hover .page-next {
    border-color: #fff;
}

.search-icon {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 15px;
    top: 50%;
    background: url('../img/search-icon.png') no-repeat;
    margin-top:-11px;
}

.input-transparent.icon-lp {
    padding-left: 50px;
}

.list-with-icons {
    margin: 20px 0px;
    padding: 0px;
}
.list-with-icons.border-r li:not(:first-child){
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-left:20px;
}
.list-with-icons li {
    display: inline-block;
    vertical-align: top;
    margin: 3px 25px 3px 0;
    position: relative;
    padding:0px;
    font-size: 17px;
    color: #d0d0d0;
}


.icon-category {
    width: 23px;
    height: 25px;
    background-position: -5px -44px;
}

.icon-game {
    width: 25px;
    height: 17px;
    background-position: -39px -44px;
}

.icon-users {
    width: 25px;
    height: 23px;
    background-position: -77px -44px;
}

.icon-tour {
    width: 25px;
    height: 21px;
    background-position: -115px -43px;
}

.category-share {
    min-width: 17px;
    width: 17px;
    height: 19px;
    background-position: -181px -43px;
    display: inline-block;
    vertical-align: top;
}
.icon-inbox {
    width: 26px;
    height: 19px;
    background-position: -6px -120px;
}

.border-b-title {
    padding-top: 18px;
    padding-bottom:18px;
    border-bottom: 2px solid #2d3961;
}

.rounded-img-xs {
    min-width: 48px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
}

.rounded-img-xs img {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.sidebar-list {
    padding-top:13px;
    padding-bottom:13px;
}

.sidebar-list li {
    padding: 6px 0px;
}

.sidebar-list .heading-5 {
    margin: 0px;
}
.border-t{
    border-top: 2px solid #2d3961;
}
.border-t.top-1{border-width: 1px;}
.border-b1{border-bottom: 1px solid #2d3961;}
.btn-yellow-fill{font-size:14px; background: #ffc500; color:#171733; border:1px solid #ffc500; padding:10px 10px 13px;}
.btn-yellow-fill.lg{padding: 18px 10px 21px; font-size: 18px;}
.btn-yellow-fill.md, .btn-yellow-border.lg{padding: 15px 10px 15px; font-size: 18px;}
.btn-yellow-border{font-size:14px;color:#00dfff; border:1px solid #00dfff; background:transparent; padding:10px 10px 13px;}
.btn-yellow-border.sm, .btn-yellow-fill.sm{padding:8px 10px;}
.btn-yellow-border.md{padding:16px 10px 18px;}
.btn-yellow-border.btn-icon{padding: 12px 10px 12px;}
.btn-yellow-border.fill-yellow, .btn-yellow-border.active, .btn-yellow-border.active:hover{border:1px solid #ffc500; background:#ffc500; color:#191935;}
.btn-yellow-fill:hover, .btn-yellow-border:hover{border-color:#00dfff; color:#00dfff; background: transparent;}
.btn-yellow-fill:hover{background: #00dfff; color:#fff;}
.icon-userAdd{min-width:24px; width: 24px; height: 26px; background-position: -5px -79px; display: inline-block;}
.follow-dBlue{width: 20px; height: 20px; background-position: -120px -206px;}
.fill-yellow:hover .follow-dBlue{ background-position: -149px -206px;}
.input-blue{background: rgba(7, 99, 171, 0.3);border-color: rgba(7, 99, 171, 0.3);color: #fff;border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; font-size: 16px;}
.input-blue::placeholder{opacity: 1; color:#fff;}
.input-blue:focus{background: rgba(7, 99, 171, 0.3);border-color: rgba(7, 99, 171, 0.3);color:#fff; box-shadow: none;}
.btn-dots{background:transparent; width: 20px; height: 30px; border:none; position: relative;}
.btn-dots::after{display: none;}
.btn-dots span, .btn-dots span::after, .btn-dots span::before{position: absolute; left: 50%;width: 5px; height: 5px; border-radius: 50%; background:#a5a3b7;margin-left:-3px; content:'';}
.btn-dots span{ top:50%; margin-top:-3px; }
.btn-dots span::after{ bottom:-8px;}
.btn-dots span::before{top:-8px;}
.icon-like{width: 35px; height: 29px; border:none; background-position: -41px -79px;}
.icon-comment{width: 35px; height: 35px; border:none; background-position: -86px -79px;}
.icon-reply{width: 35px; height: 35px; border:none; background-position: -132px -79px;}
.list-tags{margin:0px; padding:0px;}
.list-tags li{background: #1f1f3b; border:1px solid #00dfff; color:#fff; margin:2px 10px 2px 0; font-size:14px; padding:9px 20px; border-radius: 25px; -moz-border-radius: 25px; -webkit-border-radius: 25px;}
.element-hidden{opacity: 0; position: absolute; left: 0; top:0; width: 100%; height: 100%; z-index: 1;}
.share-yellow{width: 22px; height: 24px; background-position: -45px -120px;}
.upload-row{position: relative;}
.auto-row{flex: 1 1 auto;width: 1%;min-width: 0;position: relative;}
.switch { position: relative;display: inline-block; width: 40px; height: 22px;}
.switch input {opacity: 0; width: 100%; height: 100%; position: absolute;z-index: 1;}
.switch .slider {position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0;background-color: #1f1f3b;    border:1px solid rgba(255, 255, 255, 0.5);-webkit-transition: .4s; transition: .4s; }
.switch .slider:before {position: absolute; content: ""; height: 16px; width: 16px; left: 2px; bottom: 2px;    background-color: rgba(255, 255, 255, 0.5);-webkit-transition: .4s; transition: .4s;}
.switch input:checked + .slider { background-color: #1f1f3b;}
.switch input:focus + .slider { border:1px solid #343451; }  
.switch input:checked + .slider::before{background-color: #ffc500;}
.switch input:checked + .slider:before { -webkit-transform: translateX(17px); -ms-transform: translateX(17px);    transform: translateX(17px);}
.switch .slider.round { border-radius: 34px; }
.switch .slider.round:before {border-radius: 50%; }
.typo-xs{font-size:10px; color:#fff;}
.tg{background:#00adef; width: 22px; height: 22px; font-size: 10px; color:#1f1f3b; text-transform: uppercase; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;padding: 7px 0 0 0px;letter-spacing: 0; display: inline-block; vertical-align: top; margin-right: 3px; text-align: center;}
.tg.light{background:#fff; width: 30px; height: 30px; font-size: 13px; color:#1f1f3b; padding-top:10px;}
.tg.light.teal{background: #00aeed; color:#211e3b;}
.chat-blue{width: 40px; height: 40px; background-position: -83px -120px;}
.discord-blue{width: 40px; height: 44px; background-position: -138px -120px;}
.box-xs{min-height: 78px;}
.fb-colored{width: 16px; height: 30px; background-position: -5px -164px;}
.tw-colored{width: 30px; height: 26px; background-position: -30px -164px;}
.insta-colored{width: 30px; height: 30px; background-position: -70px -164px;}
.ld-colored{width: 30px; height: 30px; background-position: -110px -164px;}
.horizontal-tabs{border:none;}
.horizontal-tabs .nav-item{display: inline-block; vertical-align: top; width: 100%;}
.horizontal-tabs .nav-btn{font-size: 20px; color:#fff; padding:20px 30px; position: relative;}
.horizontal-tabs .nav-btn.active{background:#ffc600; color:#191935;}
.horizontal-tabs .nav-btn::after{border-top:2px solid #8f8f9d; border-right:2px solid #8f8f9d; content: ''; position: absolute; right:20px; top:50%; width: 10px; height: 10px;margin-top: -7px;transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg);}
.horizontal-tabs .nav-btn.active::after{border-color:#191935;}
.title-1{font-size: 24px; color:#fff;}
.box-height{height: 154px; position: relative;}
.box-height2{height: 120px; position: relative;}
.border-select{border:1px solid #636175; background:#171733; font-size: 12px; color:#636176; padding:6px 10px 8px; display: inline-block; vertical-align: top;}
.check-list-sm li{padding:8px 0px;}
.check-mark{display: inline-block; vertical-align: top; width: 15px; height: 15px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; background: #00aeef; position: relative;margin-right: 8px;}
.check-mark:after{content: ''; position: absolute; left: 3px; top:4px; width: 8px; height: 5px; border-left: 2px solid #1f1f3b; border-bottom: 2px solid #1f1f3b; transform: rotate(-50deg); -webkit-transform: rotate(-50deg);}
.check-mark-border{display: inline-block; vertical-align: top; width: 60px; height: 60px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; border:4px solid #00aeef; position: relative;}
.check-mark-border:after{content: ''; position: absolute; left: 50%; top:50%; width: 28px; height: 15px; border-left: 6px solid #00aeef; border-bottom: 6px solid #00aeef; margin-top:-4px; transform:translate(-50%, -50%) rotate(-50deg); -webkit-transform:translate(-50%, -50%) rotate(-50deg);}
.arrow-top .owl-nav{position: absolute; right: 0px; top:-30px; overflow: hidden;}
.arrow-top .owl-nav button{width: 30px; height: 30px; margin-left:10px; background: #00dfff!important;border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;}
.arrow-top .owl-nav button span{width: 9px; height: 9px; border-top: 2px solid #1f1f3b; border-right: 2px solid #1f1f3b; display: inline-block;text-indent: -99999px;}
.arrow-top .owl-nav button.owl-prev span{transform: rotate(-137deg);margin: 8px 0 0 3px;}
.arrow-top .owl-nav button.owl-next span{transform: rotate(40deg);margin: 8px 2px 0 0;}
.arrow-top .owl-nav button.disabled{opacity: 0.5;}
.sb10 {width: 0px; height: 0px; position: absolute; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #ffc500; border-bottom: 10px solid transparent; left: 100px; bottom: -20px; }
.video-icon{display: inline-block; vertical-align: top; border:1px solid #ffc500;border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; width: 25px; height: 25px;}
.video-icon::after{content: ''; display: inline-block; vertical-align: top; border-width: 5px 0px 5px 9px;    border-style: solid; border-color: transparent transparent transparent #ffc500; margin: 6px 0 0 8px;}
.custom-table{color:rgba(255, 255, 255, 0.6); font-size: 16px;}
.custom-table td, .custom-table th{padding:12px 10px; vertical-align: middle; font-size: 15px;}
.custom-table th{padding-top:18px; padding-bottom:18px; background: #1c294b; border:none; font-weight: normal;}
.custom-table td{border-color:#2b3960; background:#1f1f3b;}
.custom-table.p-md th{padding:20px 15px;}
.custom-table.p-md td{padding:25px 15px;}
.custom-tableHover tbody tr{cursor: pointer;}
.custom-tableHover tbody tr:hover td{background: rgba(255, 255, 255, 0.05);}
.icon-rank{width: 21px; height: 21px; background-position: -5px -206px;}
.icon-chat{width: 20px; height: 18px; background-position: -36px -206px;}
.icon-gift{width: 18px; height: 20px; background-position: -66px -206px;}
.icon-verified{width: 16px; height: 16px; background-position: -177px -80px;}
select.input-transparent{background: url('../img/arrow-down2.png') no-repeat 94% 50% #191935;}
.bg-blue-rounder{font-size: 14px; background:#135882; color:#fff; display: inline-block; vertical-align: top; padding: 5px 10px 6px;border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px;}
.bg-blue-rounder.d-blue{background-color: #191935;}
.modal-box{border: 2px solid #00dfff; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;}
.modal-box .modal-header, .modal-box .modal-footer{border-color: #2b2b45;}
.cpx-2{padding-left:30px; padding-right:30px;}
.trianle-tl, .trianle-tr, .trianle-bl, .trianle-br{content: ''; position: absolute; width: 0; height: 0; border-style: solid;}
.trianle-tl{top:0px; left:0px; border-width: 0px 0px 25px 25px;border-color: #00dfff transparent transparent #00dfff;}
.trianle-tr{top:0px; right:0px;border-width: 0 25px 25px 0px;border-color: transparent #00dfff transparent #00dfff;}
.trianle-bl{bottom:0px; left:0px; border-width: 0px 25px 25px 0px;border-color: #00dfff transparent #00dfff transparent}
.trianle-br{bottom:0px; right:0px; border-width: 25px 25px 0px 0px;border-color: transparent #00dfff #00dfff transparent;}
.scroll-y{max-height: 330px; overflow:hidden; overflow-y: auto;}
.custom-close{position: absolute; right:-26px; top:-30px; width: 25px; height: 25px; background-color: transparent; border:none; transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg);}
.custom-close:after, .custom-close:before{content:''; background: #ffc500; position: absolute; border-radius: 3px;}
.custom-close:after{top:50%; width: 100%; height: 4px; left:0px;transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%);}
.custom-close:before{left:50%; height: 100%; width: 4px; top:0px;transform: translateX(-50%); -moz-transform: translateX(-50%); -webkit-transform: translateX(-50%);}
.tooltip-col{width: 22px;height: 22px; border: 1px solid #636175; border-radius: 50%;color: #636175; line-height: 1;    display: inline-block;vertical-align: top; text-align: center; padding: 0px;font-size: 16px; cursor: pointer;}
.tooltip-box{position: absolute; left: 50%; top:22px; background: rgba(255, 255, 255, 0.8); width: 200px; padding:10px;transform: translateX(-50%); -moz-transform: translateX(-50%); -webkit-transform: translateX(-50%);color: #191935;font-size: 14px;text-align: center;border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; display: none;}
.tooltip-col:hover + .tooltip-box{display: block;}
.notification-icon path{fill:white;}
.badge-top{background:#ffc600; color:#1f1f3b; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; width: 20px; height: 20px; font-size: 15px; position: absolute; right:2px; top:-3px;}
.notification-icon{background: url('../img/Notification.png') no-repeat; width: 40px; height: 40px; display: inline-block; vertical-align: top;}
.dropdown-theme{background: #1c294b; min-width: 350px; padding:15px 25px;}
.dropdown-theme:before{content: '';position: absolute; width: 0; height: 0; border-style: solid;top:-13px; right:5px; border-width: 0px 13px 13px 13px;border-color: #1c294b transparent #1c294b transparent;}
.dropdown-theme[data-bs-popper]{margin-top:15px;}
.border-white{border:2px solid #fff; border-radius: 30px; -moz-border-radius: 30px; -webkit-border-radius: 30px; color:#fff; font-size: 17px; padding:3px 15px 3px 3px;}
.bg-rounded{display: inline-block; vertical-align: top; width: 40px; height: 40px; color:#00defb; background: #142247;border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; font-size: 17px;}
.page-items nav div:first-child{display: none;}
.page-items .w-5{width: 50px; height: 50px;}
.page-items .rounded-md span, .page-items .rounded-md a{display: flex; align-items: center; height: 45px; width: 45px;flex: 0 0 auto;}
.page-items .rounded-md{display: flex;}
.page-items .bg-white{background: transparent!important; color:#616276;}
.page-items .border{border-color:#3f3f63 !important;}
.page-items .px-4{padding-left:5px!important; padding-right:5px!important; justify-content: center;}
.page-items .bg-white:hover{color:#fff;}
.page-items span.px-4{color:#fff;}
.page-items span[aria-disabled]{cursor: default;}
.page-items span[aria-disabled]:hover .bg-white{color:#616276 !important;}

/* responsive css started */
@media screen and (max-width: 1300px) {
    .custom-slider .carousel-control-prev {
        left: 0px;
    }

    .custom-slider .carousel-control-next {
        right: 0px;
    }

    .c-my-5 {
        margin: 40px 0 0px;
    }

    .rotated-img-inner {
        width: 250px;
        height: 250px;
        margin: 50px;
    }

    .picture-list-sm .rotated-img-inner {
        width: 148px;
        height: 148px;
    }
}

@media screen and (max-width: 1200px) {
    .nav-left .nav-item {
        margin-right: 0;
    }

    .nav-right .nav-item {
        margin-left: 0;
    }

    .typo1.md {
        font-size: 17px;
    }

    .border-btn2 {
        font-size: 16px;
        padding: 14px 30px 16px;
    }

    .border-btn2.border-md {
        font-size: 15px;
    }

    .common-space {
        padding: 70px 0px;
    }

    .common-space-md {
        padding: 30px 0px;
    }

    .heading-1 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .heading-1.md {
        font-size: 32px;
    }

    .typo2,
    .typo3,
    .links-listing li a {
        font-size: 16px;
    }

    .arrow-btn {
        font-size: 17px;
    }

    .arrow-btn::after {
        top: 3px;
    }

    .heading-2 {
        font-size: 25px;
    }

    .input-transparent,
    .button-yellow {
        height: 55px;
        font-size: 16px;
    }

    .heading-3 {
        font-size: 18px;
    }

    .left-logo {
        width: 93px;
        min-width: 93px;
        height: 55px;
        margin-right: 20px;
    }

    .grad-bg {
        font-size: 14px;
    }

    .custom-input-lg {
        padding: 17px 90px 17px 20px;
        font-size: 15px;
    }

    .ab-icon {
        width: 70px;
        height: 37px;
    }

    .icon-user {
        width: 23px;
        height: 23px;
    }

    .icon-lock {
        width: 21px;
        height: 30px;
    }

    .icon-email {
        width: 31px;
        height: 19px;
    }

    .btn-yellow-lg {
        padding: 15px 20px;
        font-size: 18px;
    }
}

@media screen and (max-width: 991px) {
    .logo-area {
        position: relative;
        left: 0;
        top: 0;
        transform: translateX(0%);
        -moz-transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }

    .logo-area.admin-logo {
        text-align: center;
    }

    .logo-area img {
        max-width: 130px;
        height: auto;
    }

    .navbar-toggler {
        padding: 0px;
    }

    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }

    .navbar-toggler-icon {
        position: relative;
        height: 1em;
    }

    .navbar-toggler-icon em {
        width: 100%;
        height: 2px;
        background: #fff;
        display: inline-block;
        vertical-align: top;
    }

    .navbar-toggler-icon:after,
    .navbar-toggler-icon:before {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        height: 2px;
        background: #fff;
    }

    .navbar-toggler-icon:after {
        top: 0px;
    }

    .navbar-toggler-icon:before {
        bottom: 0px;
    }

    .navbar-collapse {
        position: absolute;
        left: 0px;
        top: 100%;
        background: rgb(18, 65, 112) none repeat scroll 0% 0%;
        width: 100%;
    }

    .nav-link::before {
        display: none;
    }

    .nav-left .nav-item,
    .nav-right .nav-item {
        display: inline-block;
        vertical-align: top;
        width: 100%;

    }

    .navbar-expand-lg .navbar-collapse {
        padding: 15px 0px;
        z-index: 1;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 15px 25px;
    }

    .navbar-expand-lg .border-btn {
        margin: 10px 0 10px 25px;
    }

    .header::before,
    .header::after {
        width: 50%;
    }

    .c-my-5 {
        margin: 0px;
    }

    .color-box {
        padding: 30px;
    }

    .custom-tabs .nav-btn {
        padding: 10px;
    }

    .heading-4 {
        font-size: 16px;
    }

    .custom-tabs .nav-item {
        padding: 5px;
    }

    .heading-6,
    .picture-list-sm .heading-6 {
        font-size: 20px
    }

    .heading-4.md {
        font-size: 14px;
    }

}

@media screen and (max-width: 991px) {
    .logo-area img {
        max-width: 110px;
    }

    .banner-logo {
        max-width: 170px;
        height: auto;
    }

    .typo1,
    .typo1.md,
    .typo2,
    .typo3,
    .typo3.md,
    .typo4,
    .typo5,
    .links-listing li a {
        font-size: 15px;
    }

    .border-btn2 {
        padding: 12px 30px 14px;
        font-size: 15px;
    }

    .heading-1 {
        font-size: 30px;
    }

    .heading-1.md {
        font-size: 25px;
    }

    .theme-color::after {
        top: -11px;
        width: 30px;
        height: 30px;
        background-size: cover;
    }

    .theme-color.md::after {
        width: 22px;
        height: 22px;
        background-size: cover;
    }

    .cpl-3 {
        padding-left: 15px;
    }

    .heading-2 {
        font-size: 22px;
    }

    .links-listing li {
        margin: 8px 0px;
    }

    .heading-3 {
        margin-bottom: 10px;
        font-size: 16px;
    }

    .custom-accordion .accordion-button {
        font-size: 16px;
        padding: 15px 20px;
    }

    .custom-accordion .accordion-button:not(.collapsed)::after {
        margin-top: -6px;

    }

    .custom-accordion .accordion-button::after {
        width: 10px;
        height: 10px;
        margin-top: -2px;
    }

    .custom-accordion .accordion-item {
        margin: 10px 0px;
    }

    .rotated-img-inner {
        width: 200px;
        height: 200px;
        margin: 40px;
    }

    .picture-list-sm .rotated-img-inner {
        width: 100px;
        height: 100px;
        margin: 56px 34px;
    }

    .heading-6,
    .picture-list-sm .heading-6 {
        font-size: 16px;
    }

    .links-listing li {
        width: auto;
        margin-right: 5px;
    }

    .links-listing li:not(:first-child) {
        padding-left: 12px;
        border-left: 1px solid #636176;
    }
}

@media screen and (max-width: 767px) {
    .logos-list .img-fluid {
        max-width: 80%;
    }

    .logos-list li {
        padding: 0px;
    }

    .common-space {
        padding: 50px 0px;
    }

    .common-space-sm {
        padding: 15px 0px;
    }

    .arrow-btn {
        font-size: 16px;
    }

    .border-btn2 {
        font-size: 15px;
        padding: 10px 20px 12px;
    }

    .separator {
        margin-top: 10px;
    }

    .btn-yellow-lg {
        padding: 12px 20px;
        font-size: 16px;
    }

    .heading-4 {
        font-size: 14px;
    }

    .vr-player {
        display: none;
    }
}

@media screen and (max-width: 680px) {
    .banner-outer {
        padding: 110px 0 40px;
    }

    .banner-logo {
        max-width: 150px;
    }

    .common-space {
        padding: 35px 0px;
    }

    .heading-1 {
        font-size: 23px;
        margin-bottom: 5px;
    }

    .heading-1.md {
        font-size: 20px;
    }

    .heading-2 {
        font-size: 20px;
    }

    .heading-3 {
        font-size: 15px;
    }

    .left-logo {
        width: 83px;
        min-width: 83px;
        height: 45px;
    }

    .grad-bg {
        font-size: 13px;
    }

    .custom-input-lg {
        padding: 11px 60px 11px 15px;
        font-size: 14px;
    }

    .ab-icon {
        width: 45px;
        height: 27px;
    }

    .icon-user {
        width: 18px;
        height: 18px;
    }

    .icon-lock {
        width: 16px;
        height: 25px;
    }

    .icon-email {
        width: 20px;
        height: 19px;
    }

    .rotated-img-inner {
        margin: 20px;
    }

    .rotated-img-inner,
    .auto-img {
        transform: rotate(0deg);
    }

    .pic-detail {
        transform: translate(-50%, -50%) rotate(0deg) scale(0);
    }

    .rotated-img-col:hover .pic-detail {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }

    .picture-list-sm~.picture-list-sm {
        margin-top: 0;
    }

    .picture-list-sm .rotated-img-inner {
        width: 110px;
        height: 110px;
        margin: 5px;
    }

    .picture-list-sm,
    .picture-top-list {
        flex-wrap: wrap;
    }

    .heading-7 {
        font-size: 20vw;
    }
}
