body {
    background-color: #f5f6fb;
}

label.error {
    display: inline-block;
    vertical-align: top;
    color: #dc3545;
    font-size: 14px;
    padding-top: 7px;
    width: 100%;
    margin: 0px;
    line-height: 1;
}

.left-sidenav {
    background: #144478;
}

.left-sidenav .nav-link {
    color: #84b2e3;
}

.left-sidenav .nav-link:hover {
    color: #fff;
}

.left-sidenav .nav-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-vertical.left-sidenav .navbar-nav>.nav-item>.nav-link.active {
    background: #00ddfc;
    color: #fff;
    margin: 0px;
    padding: 1rem 1.5rem;
    border-radius: 0px;

}

.footer {
    padding: 15px 30px;
    color: #144478;
    font-weight: 600;
    background: #d8e6f7;
}

.navbar-top {
    background: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
}

.custom-row {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.full-h {
    min-height: 100vh;
}

.top-breadcrumb {
    margin: 0px;
    padding: 0px;
}

.top-breadcrumb .breadcrumb-item {
    display: inline-block;
    vertical-align: top;

}

.top-breadcrumb .breadcrumb-item a {
    color: #525f7f;
}

.card-stats {
    height: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
}

.card-stats .card-title {
    color: #144478;
}

.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.5em 0.5em;
}

.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button:focus,
.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button.active {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
}

.dataTables_wrapper .page-item.previous .page-link,
.dataTables_wrapper .page-item.next .page-link {
    border-color: transparent;
    width: auto;
}

.btn-primary.custom-primary {
    background-color: #144478;
    border-color: #144478;
}

.height-100 {
    height: 100%;
}

/* .admin-btn {
    border: 2px solid #ffc600;
    color: #ffc600;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 6px 12px;
  } */
/* .btn-neutral.admin-btn-sm{
    border: 2px solid #ffc600;
    background-color: #ffc600;
    text-transform: uppercase;
    font-size: 14px;
    padding: 4px 8px;
    font-weight: 500;
  }
  .btn-neutral.admin-btn-sm:hover{
      background-color: transparent;
      color: #fff;
  } */
.table .thead-light th {
    color: #fff !important;
    background-color: #144478 !important;
    border-color: #d8e6f7 !important;
}
.nav-tabs{
    border-bottom: 1px solid #d8e6f7;
background: #d8e6f7;
}
.nav-tabs .nav-link{
    color:#202020;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: #00e2fc;
    border-color: #00e2fc;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 0.2rem;
}

.sidenav-toggler .sidenav-toggler-inner,
.sidenav-toggler .sidenav-toggler-line {
    width: 25px;
}

.sidenav-toggler-dark .sidenav-toggler-line {
    background-color: #144478;
}

.sidenav-toggler-line:not(:last-child) {
    margin-bottom: 5px;
}

.navbar.navbar-top .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link {
    padding: 1rem 1.5rem;
}
.bodyClick{
    z-index: 1;
}
.sidenav-toggler{
    position: relative;
    z-index: 5;
}
.fa-plus-circle{
    font-size: 20px;
}
.minus_btn_red{
    color: red !important;
}