.minus_btn_red{
    color: rgb(218, 57, 57) !important;
}
.fa-info-circle,.fa-plus-circle,.fa-minus-circle{
    font-size: 16px;
}
.form-group .choose-file{
    opacity: 1 !important;
    position: static !important;
}
.form-control.custom-textarea{
    border: 1px solid rgba(255, 255, 255, 0.7) !important;
    border-radius: 0.4285rem;
}
.white-content .form-control.custom-textarea{
    border-color: rgba(29, 37, 59, 0.5) !important;
}
.head-font{
    font-size: 22px;
    font-weight: 600 !important;
}
.table>tbody>tr>th{
    color: rgba(255, 255, 255, 0.7);
}
.white-content  .table>tbody>tr>th{
    color: rgba(34, 42, 66, 0.7);
}
.main-panel{
    border-top: 2px solid #0098f0;
}
/* tabs css  */
.nav-tabs .nav-link,.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    font-weight: 600;
}
.white-content .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    color: #525f7f;
    border-color: #525f7f #525f7f #f5f6fa;
    background-color: transparent;
}
.nav-tabs {
    border-bottom: 0.0625rem solid #525f7f;
}
/* sidebar css   */
.sidebar.sidebar-theme{
    background: linear-gradient(180deg, #1f1f3b, #191935);
}
.white-content .sidebar.sidebar-theme{
    background: linear-gradient(180deg,  #191935, #0098f0);
}
.sidebar .nav a{
    font-size: 12px !important;
}
.sidebar .nav a p{
    font-weight: 600 !important;
}
.sidebar .nav li.active{
    background-color: rgba(255, 255, 255, 0.4);
}
/* Form css  */
select.custom-select.custom-select-sm.form-control.form-control-sm:focus {
    background-color: #27293d;
}
.white-content select.custom-select.custom-select-sm.form-control.form-control-sm:focus{
    background-color: #fff;
}
.form-control:focus,  .white-content .form-control:focus{
    border-color: #0098f0;
}
select:focus{
    background-color: #27293d !important;
}
.white-content select:focus{
    background-color: #fff !important;
}
.form-control{
    border-color: rgba(255, 255, 255, 0.7);
}
.card label{
    font-size: 0.85rem;
}

/* table css  */
.table-responsive{
    overflow: unset;
}
.table>tbody>tr{
    border-top: 0.0625rem solid #e3e3e3 ;
    border-color: rgba(255, 255, 255, 0.1);
}
.white-content .table>tbody>tr{
    border-top: 0.0625rem solid #e3e3e3 ;
    border-color: rgba(34, 42, 66, 0.2);
}
.card-tasks .table-full-width{
    overflow-y: scroll;
}
.dataTables_filter{
    text-align: right;
}
.dataTables_filter label{
    text-align: left;
}
.page-item.active .page-link {
    background-color: #0098f0;
    border-color: #0098f0;
}
/* fixed theme button css  */
.fixed-plugin{
    top: 75px;
}
/* Super admin dropdown css  */
a.nav-item.dropdown-item{
    color: #000;
}
.dropdown-menu .tim-icons{
    opacity: 1;
}
.error{
    color: crimson !important;
}
/* theme css  */
.toggle_theme {
    position: relative;
    display: block;
    width: 70px;
    height: 30px;
    background-color: #3b3e61;
    border-radius: 50px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 4px 20px rgba(0, 0, 0, 0.1),
        inset 0 4px 10px rgba(0, 0, 0, 0.1),
        inset 0 -4px 10px rgba(0, 0, 0, 0.1);
    margin-top:3px;
}
.toggle_theme.change_theme {
    background: #fff;
    box-shadow: inset 0 2px 20px rgba(0, 0, 0, 0.1),
        inset 0 2px 4px rgba(0, 0, 0, 0.1),
        inset 0 -4px 20px rgba(0, 0, 0, 0.1);
    ;
}
.indicator {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, #3b3e61, #272a47);
    border-radius: 50%;
    transform: scale(0.9);
    transition: 0.5s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5),
        inset 0 2px 4px rgba(255, 255, 255, 0.2),
        inset 0 -2px 4px rgba(255, 255, 255, 0.2);
}
.toggle_theme.change_theme .indicator {
    left: 40px;
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1),
        inset 0 2px 4px rgba(255, 255, 255, 1),
        inset 0 -2px 4px rgba(255, 255, 255, 1);
}
